<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>createUser</title>
    <meta charset="utf-8" />
</head>
<body>
<h1 th:text="User作成画面"></h1>
<form th:action = "@{/user/create}" th:object = "${userForm}" method="post">
<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error">
    <label for="name" class="control-label">名前</label>
    <input id="name" type="text" class="form-control" th:field="*{name}" name="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-massages">error!</span>
</div>
</form>
</body>
</html>